.intro {
    display: flex;
    background-color: var(--el-color);
    width: 64%;
    border-radius: 30px;
    margin-top: 100px;
    margin-left: 10%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

.intro button {
    padding: 10px 20px;
    border-radius: 12px;
    border: 2px solid transparent;
    outline: none;
    transform: scale(1);
    background-color: var(--background-color);
    cursor: pointer;
    color: white;
    font-weight: 500;
    transition: all 0.25s ease;
}

.intro button:hover {
    border: 1px dashed white;
    transform: scale(1.09);
}

.intro .background-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.intro .background-info span {
    color: rgb(255, 187, 0);
    animation: pulseSun 2s infinite, rotateRays 4s linear infinite;
    text-shadow: 0 0 5px rgb(255, 187, 0), 0 0 10px rgb(255, 140, 0),
        0 0 15px rgb(255, 87, 0);
}

.intro .background-info p,
h1 {
    color: white;
}
.hot {
    position: absolute;
    top: 10%;
    left: 3%;
    background: linear-gradient(
        to top right,
        rgba(255, 87, 34, 1) 0%,
        rgba(251, 140, 0, 1) 100%
    );
    box-shadow: 1px 1px 30px rgba(255, 111, 0, 1);
}
.sun {
    position: absolute;
    top: -10%;
    left: 65%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: linear-gradient(
        to bottom left,
        rgba(255, 235, 59, 1) 0%,
        rgba(249, 168, 37, 1) 90%
    );
    box-shadow: 1px 1px 30px rgba(255, 160, 0, 1);
    animation: inex 3s infinite linear, fadeIn 2s infinite ease;
}

.sunx {
    position: absolute;
    top: 30%;
    left: 45%;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #fff;
    opacity: 0.2;
}

@keyframes inex {
    50% {
        opacity: 0.4;
    }
    60% {
        opacity: 1;
    }
}
@keyframes move {
    50% {
        transform: translateX(-10px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.99);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes pulseSun {
    0%,
    100% {
        text-shadow: 0 0 5px rgb(255, 187, 0), 0 0 10px rgb(255, 140, 0),
            0 0 15px rgb(255, 87, 0);
        transform: scale(1);
    }
    50% {
        text-shadow: 0 0 8px rgb(255, 227, 50), 0 0 15px rgb(255, 187, 0),
            0 0 25px rgb(255, 140, 0);
        transform: scale(1.05);
    }
}
