.search {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 1.5%;
    top: 4%;
}

.search input {
    padding: 10px 22px;
    border: 2px solid var(--el-color);
    border-radius: 15px;
    outline: none;
    font-size: 18px;
    max-width: 100%;
    transition: all 0.3s ease;
    background-color: var(--el-color);
    color: var(--text-color);
    margin-right: 28px;
}

.search input::placeholder {
    color: white;
}

.search input:hover {
    border-color: var(--text-color);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.search input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    color: #fff;
}
